<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="calculator.html">Calculator</a></li>
      <li><a href="workout.html">Workout</a></li>
      <li><a href="meals.html">Meals</a></li>
      <li><a href="goal.html">Goal</a></li>
      <li style="float: right;"><a href="/users/">Login</a></li>
    </ul>
  </nav>
</header>

<main>
  <h1>Welcome to the Home Page</h1>
  <!-- Add your content here -->
</main>
</body>
</html>
